<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Moments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="messageButton">Messages </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="followButton">Following</a>
      </li>
    </ul>

    <span class="nav-link"  id="user-icon">
      <i class="fas fa-user"></i>
      <div id="myModal">
        <ul >
          <li><%= locals.user.username %></li>
          <li><%= locals.user.twitterName %></li>
          <hr>
          <li class="clickable" id="profile">
            <form action="/users/<%= locals.user._id%>/profile" method="get">
              <button class="discrete-button">Profile</button>
            </form>
          </li>
          <hr >
          <li class="clickable" id="logout">
            <form action="/logout" method="post">
              <button class="discrete-button">Log out</button>
            </form>
            
          </li>
        </ul>
      </div> 
    </span>
    <span class="navbar-text">
         
    
    <form class="nav-link form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
    </span>
    
  </div>

</nav>
<div class="card bg-light mb-3" id="messageModal">
    <div class="card-header">Messages</div>
  <div class="card-body">
    
  </div>
</div>
<div class="card bg-light mb-3" id="followModal">
    <div class="card-header">Following</div>
  <div class="card-body" id="follow-body">
    
  </div>
</div>
<script type="text/javascript">
  var loadFollowers = function(){
          $.ajax({
            method: "GET",
            url:"/users/<%= locals.user._id%>/followers"
          }).done(function(json){
            console.log(json);
            for(var i = 0; i < json.length; ++i){
              console.log(json[i])

              $("#follow-body").prepend(`<div class="card" style="padding:5%;">
              <div class="card-block">
                <div class="row">
                  <div class="col-4">
                    <h6 class="card-title">${json[i].twitterName}</h6>
                  </div>
                  <div class="col-4">

                  </div>
                  <div class="col-4">
                    <button type="button" data-id="${json[i]._id}"class="unfollow-btn btn btn-danger" style="position:inline">unfollow</button>
                  </div>
                  
                  
                </div>
              </div>
            </div>`);
            }
          })
  }
  window.onload = loadFollowers;
</script>
<script type="text/javascript">
  var user = document.getElementById("user-icon");
  var message = document.getElementById("messageButton");
  var follow = document.getElementById("followButton");
  // var overlay = document.getElementById("overlay");
  var userTabOpen = false;
  var messageTabOpen = false;
  var followTabOpen = false;
  var userModal = document.getElementById("myModal");
  var messageModal = document.getElementById("messageModal");
  var followModal = document.getElementById("followModal");

  user.addEventListener("click",function(){
    console.log("clicked user");
    if(!userTabOpen){
      userModal.style.display = "block";
      userTabOpen = true;
    }
    else{
      userModal.style.display = "none";
      userTabOpen = false; 
    }
  })
  // overlay.addEventListener("click",function(){
  //   console.log("overlay");
  //   if(userTabOpen){
  //     userModal.style.display = "none";
  //     userTabOpen = false; 
  //   }
  // })  
  message.addEventListener("click",function(){
    console.log("clicked  message");
    if(!messageTabOpen){
      messageModal.style.display = "block";
      messageTabOpen = true;
    }
    else{
      messageModal.style.display = "none";
      messageTabOpen = false; 
    }
  })
  follow.addEventListener("click",function(){
    console.log("clicked  message");
    if(!followTabOpen){
      followModal.style.display = "block";
      followTabOpen = true;
    }
    else{
      followModal.style.display = "none";
      followTabOpen = false; 
    }
  })
</script>
<script type="text/javascript">
  $("#followModal").on("click","button.unfollow-btn",function(){
    var button = $(this);
    formData = {
      unfollow_id: button.attr('data-id'),
      _id: "<%=locals.user._id%>"
    };
    $.ajax({
      method:'POST',
      url: "/users/<%= locals.user._id%>/unfollow",
      data: formData
    }).done(function(json){
      console.log(json);
      button.parent().parent().parent().parent().remove();
      
    })   
  })
</script>